<div class="wheazy__actual-weather">
  <div class="wheazy__actual-weather__wrapper">
    <div class="wheazy__actual-weather__wrapper--main">
      <div class="location text-muted">
        <mat-icon>location_on</mat-icon>
        <p class="mat-p">Test, 31820 PIBRAC</p>
      </div>
      <div class="actual-state">
        <mat-icon fontSet="material-symbols-sharp">rainy</mat-icon>
        <h1 class="mat-h1">25.9 °C</h1>
      </div>
      <div class="actual-state-description text-muted">
        <p class="mat-p">Temps nuageux</p>
      </div>
    </div>
    <div class="wheazy__actual-weather__wrapper--metadatas">
      <div class="item">
        <mat-icon class="text-muted">air</mat-icon>
        <p class="mat-p text-muted item-title">Vitesse du vent</p>
        <p class="mat-p item-value">19.9 km/h</p>
      </div>
      <div class="item">
        <mat-icon class="text-muted">water_drop</mat-icon>
        <p class="mat-p text-muted item-title">Précipitations</p>
        <p class="mat-p item-value">10 mm</p>
      </div>
      <div class="item">
        <mat-icon class="text-muted">snowing</mat-icon>
        <p class="mat-p text-muted item-title">Humidité</p>
        <p class="mat-p item-value">50 %</p>
      </div>
      <div class="item">
        <mat-icon class="text-muted">arrow_circle_up</mat-icon>
        <p class="mat-p text-muted item-title">Température maximale</p>
        <p class="mat-p item-value">20 °C</p>
      </div>
      <div class="item">
        <mat-icon class="text-muted">arrow_circle_down</mat-icon>
        <p class="mat-p text-muted item-title">Température minimale</p>
        <p class="mat-p item-value">10 °C</p>
      </div>
    </div>
  </div>
</div>
