<div class="text-center" mat-dialog-title>
  <mat-icon color="accent">add_location_alt</mat-icon>
  <h3 class="mat-h3">
    <b>Ajouter une nouvelle localisation</b>
  </h3>
</div>

<div mat-dialog-content>
  <p class="mat-caption text-muted">
    Ajoutez une localisation à votre liste, qui sera elle-même stockée dans
    votre navigateur.
  </p>

  <form [formGroup]="newLocationForm">
    <div class="wheazy__form-layout mt-20">
      <div class="text-center mb-20">
        <button mat-raised-button color="primary" (click)="getUserLocation()">
          <mat-icon>my_location</mat-icon> Utiliser ma géolocalisation
        </button>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Pays de préférence</mat-label>
        <mat-select value="fr" disabled>
          <mat-option value="fr">France</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Rechercher une addresse</mat-label>
        <input
          type="text"
          matInput
          placeholder="Commencez à écrire..."
          formControlName="place"
          (input)="onAddressChange()"
          #addressText
        />
        <button mat-icon-button matSuffix (click)="onAddressChange()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>

      <fieldset>
        <legend class="text-icon">
          <mat-icon>pin_drop</mat-icon> Placez votre localisation sur la carte
        </legend>

        <div class="mb-20">
          <p class="mat-caption text-muted">
            Info : vous pouvez aussi déplacer le marqueur ou vous le souhaitez
          </p>
        </div>

        <div *ngIf="mapsLoaded | async">
          <google-map
            [options]="mapOptions"
            [center]="mapCenter"
            [zoom]="mapZoom"
            #map
          >
            <map-marker
              [options]="markerOptions"
              [position]="mapCenter"
              (mapDragend)="dragMarkerEnd($event)"
            ></map-marker>
          </google-map>
        </div>
      </fieldset>
    </div>
  </form>
</div>

<div mat-dialog-actions class="justify-flex-center">
  <button mat-button mat-dialog-close><mat-icon>close</mat-icon> Fermer</button>
  <button
    mat-raised-button
    color="accent"
    (click)="addLocation()"
    [disabled]="newLocationForm.invalid"
  >
    <mat-icon>add</mat-icon> Ajouter cette localisation
  </button>
</div>
