<div class="wheazy__weather" [hidden]="!isLoading">
  <div mat-dialog-title class="text-center">
    <ngx-skeleton-loader
      animation="progress-dark"
      appearance="circle"
      [theme]="{
        background: 'rgba(255,255,255, 0.25)',
        width: '25px',
        height: '25px'
      }"
    ></ngx-skeleton-loader>
    <br />
    <ngx-skeleton-loader
      animation="progress-dark"
      [theme]="{ background: 'rgba(255,255,255, 0.25)', width: '75px' }"
    ></ngx-skeleton-loader>
  </div>

  <div class="wheazy__air-quality">
    <fieldset class="group">
      <legend>
        <ngx-skeleton-loader
          animation="progress-dark"
          [theme]="{ background: 'rgba(255,255,255, 0.25)', width: '100px' }"
        ></ngx-skeleton-loader>
      </legend>
      <div class="item">
        <ngx-skeleton-loader
          animation="progress-dark"
          appearance="circle"
          [theme]="{
            background: 'rgba(255,255,255, 0.25)',
            width: '15px',
            height: '15px'
          }"
        ></ngx-skeleton-loader>
        <div class="item-content">
          <ngx-skeleton-loader
            animation="progress-dark"
            [theme]="{
              background: 'rgba(255,255,255, 0.25)',
              width: '75px',
              height: '15px'
            }"
          ></ngx-skeleton-loader>
          <br />
          <ngx-skeleton-loader
            animation="progress-dark"
            [theme]="{
              background: 'rgba(255,255,255, 0.25)',
              width: '50px',
              height: '15px'
            }"
          ></ngx-skeleton-loader>
        </div>
      </div>
      <div class="item">
        <ngx-skeleton-loader
          animation="progress-dark"
          appearance="circle"
          [theme]="{
            background: 'rgba(255,255,255, 0.25)',
            width: '15px',
            height: '15px'
          }"
        ></ngx-skeleton-loader>
        <div class="item-content">
          <ngx-skeleton-loader
            animation="progress-dark"
            [theme]="{
              background: 'rgba(255,255,255, 0.25)',
              width: '75px',
              height: '15px'
            }"
          ></ngx-skeleton-loader>
          <br />
          <ngx-skeleton-loader
            animation="progress-dark"
            [theme]="{
              background: 'rgba(255,255,255, 0.25)',
              width: '50px',
              height: '15px'
            }"
          ></ngx-skeleton-loader>
        </div>
      </div>
    </fieldset>
    <fieldset class="group">
      <legend>
        <ngx-skeleton-loader
          animation="progress-dark"
          [theme]="{ background: 'rgba(255,255,255, 0.25)', width: '100px' }"
        ></ngx-skeleton-loader>
      </legend>
      <div class="item">
        <ngx-skeleton-loader
          animation="progress-dark"
          appearance="circle"
          [theme]="{
            background: 'rgba(255,255,255, 0.25)',
            width: '15px',
            height: '15px'
          }"
        ></ngx-skeleton-loader>
        <div class="item-content">
          <ngx-skeleton-loader
            animation="progress-dark"
            [theme]="{
              background: 'rgba(255,255,255, 0.25)',
              width: '75px',
              height: '15px'
            }"
          ></ngx-skeleton-loader>
          <br />
          <ngx-skeleton-loader
            animation="progress-dark"
            [theme]="{
              background: 'rgba(255,255,255, 0.25)',
              width: '50px',
              height: '15px'
            }"
          ></ngx-skeleton-loader>
        </div>
      </div>
      <div class="item">
        <ngx-skeleton-loader
          animation="progress-dark"
          appearance="circle"
          [theme]="{
            background: 'rgba(255,255,255, 0.25)',
            width: '15px',
            height: '15px'
          }"
        ></ngx-skeleton-loader>
        <div class="item-content">
          <ngx-skeleton-loader
            animation="progress-dark"
            [theme]="{
              background: 'rgba(255,255,255, 0.25)',
              width: '75px',
              height: '15px'
            }"
          ></ngx-skeleton-loader>
          <br />
          <ngx-skeleton-loader
            animation="progress-dark"
            [theme]="{
              background: 'rgba(255,255,255, 0.25)',
              width: '50px',
              height: '15px'
            }"
          ></ngx-skeleton-loader>
        </div>
      </div>
    </fieldset>
    <fieldset class="group">
      <legend>
        <ngx-skeleton-loader
          animation="progress-dark"
          [theme]="{ background: 'rgba(255,255,255, 0.25)', width: '100px' }"
        ></ngx-skeleton-loader>
      </legend>
      <div class="item">
        <ngx-skeleton-loader
          animation="progress-dark"
          appearance="circle"
          [theme]="{
            background: 'rgba(255,255,255, 0.25)',
            width: '15px',
            height: '15px'
          }"
        ></ngx-skeleton-loader>
        <div class="item-content">
          <ngx-skeleton-loader
            animation="progress-dark"
            [theme]="{
              background: 'rgba(255,255,255, 0.25)',
              width: '75px',
              height: '15px'
            }"
          ></ngx-skeleton-loader>
          <br />
          <ngx-skeleton-loader
            animation="progress-dark"
            [theme]="{
              background: 'rgba(255,255,255, 0.25)',
              width: '50px',
              height: '15px'
            }"
          ></ngx-skeleton-loader>
        </div>
      </div>
      <div class="item">
        <ngx-skeleton-loader
          animation="progress-dark"
          appearance="circle"
          [theme]="{
            background: 'rgba(255,255,255, 0.25)',
            width: '15px',
            height: '15px'
          }"
        ></ngx-skeleton-loader>
        <div class="item-content">
          <ngx-skeleton-loader
            animation="progress-dark"
            [theme]="{
              background: 'rgba(255,255,255, 0.25)',
              width: '75px',
              height: '15px'
            }"
          ></ngx-skeleton-loader>
          <br />
          <ngx-skeleton-loader
            animation="progress-dark"
            [theme]="{
              background: 'rgba(255,255,255, 0.25)',
              width: '50px',
              height: '15px'
            }"
          ></ngx-skeleton-loader>
        </div>
      </div>
    </fieldset>
  </div>
</div>

<div class="wheazy__weather" [hidden]="isLoading">
  <div mat-dialog-title class="text-center">
    <mat-icon color="primary">masks</mat-icon>
    <h3 class="mat-h3">Qualité de l'air</h3>
  </div>

  <div class="wheazy__air-quality">
    <fieldset class="group">
      <legend>Particules fines</legend>
      <div class="item">
        <span
          class="status {{
            (currentAirQuality | async)?.particles?.pm10?.status
          }}"
        ></span>
        <div class="item-content">
          <p class="mat-p">PM10</p>
          <p class="mat-caption text-muted">
            {{ (currentAirQuality | async)?.particles?.pm10?.value }} μg/m³
          </p>
        </div>
      </div>
      <div class="item">
        <span
          class="status {{
            (currentAirQuality | async)?.particles?.pm2_5?.status
          }}"
        ></span>
        <div class="item-content">
          <p class="mat-p">PM2.5</p>
          <p class="mat-caption text-muted">
            {{ (currentAirQuality | async)?.particles?.pm2_5?.value }} μg/m³
          </p>
        </div>
      </div>
    </fieldset>
    <fieldset class="group">
      <legend>Poussières</legend>
      <div class="item">
        <span
          class="status {{ (currentAirQuality | async)?.dusts?.sand?.status }}"
        ></span>
        <div class="item-content">
          <p class="mat-p">Sable</p>
          <p class="mat-caption text-muted">
            {{ (currentAirQuality | async)?.dusts?.sand?.value }} μg/m³
          </p>
        </div>
      </div>
    </fieldset>
    <fieldset class="group">
      <legend>Gaz</legend>
      <div class="item">
        <span class="status {{ (currentAirQuality | async)?.gases?.carbonMonoxide?.status }}"></span>
        <div class="item-content">
          <p class="mat-p">Monoxyde de carbone (CO)</p>
          <p class="mat-caption text-muted">
            {{ (currentAirQuality | async)?.gases?.carbonMonoxide?.value }} μg/m³
          </p>
        </div>
      </div>
      <div class="item">
        <span class="status {{ (currentAirQuality | async)?.gases?.nitrogenDioxide?.status }}"></span>
        <div class="item-content">
          <p class="mat-p">Dioxyde d'azote (NO₂)</p>
          <p class="mat-caption text-muted">{{ (currentAirQuality | async)?.gases?.nitrogenDioxide?.value }} μg/m³</p>
        </div>
      </div>
      <div class="item">
        <span class="status {{ (currentAirQuality | async)?.gases?.sulphurDioxide?.status }}"></span>
        <div class="item-content">
          <p class="mat-p">Dioxyde de soufre (SO₂)</p>
          <p class="mat-caption text-muted">{{ (currentAirQuality | async)?.gases?.sulphurDioxide?.value }} μg/m³</p>
        </div>
      </div>
      <div class="item">
        <span class="status {{ (currentAirQuality | async)?.gases?.ozone?.status }}"></span>
        <div class="item-content">
          <p class="mat-p">Ozone (O₃)</p>
          <p class="mat-caption text-muted">{{ (currentAirQuality | async)?.gases?.ozone?.value }} μg/m³</p>
        </div>
      </div>
    </fieldset>
    <!-- <fieldset class="group">
      <legend>Pollens</legend>
      <div class="item">
        <span class="status high"></span>
        <div class="item-content">
          <p class="mat-p">Monoxyde de carbone (CO)</p>
          <p class="mat-caption text-muted">12 μg/m³</p>
        </div>
      </div>
      <div class="item">
        <span class="status high"></span>
        <div class="item-content">
          <p class="mat-p">Dioxyde d'azote (NO₂)</p>
          <p class="mat-caption text-muted">12 μg/m³</p>
        </div>
      </div>
      <div class="item">
        <span class="status high"></span>
        <div class="item-content">
          <p class="mat-p">Dioxyde de soufre (SO₂)</p>
          <p class="mat-caption text-muted">12 μg/m³</p>
        </div>
      </div>
      <div class="item">
        <span class="status high"></span>
        <div class="item-content">
          <p class="mat-p">Ozone (O₃)</p>
          <p class="mat-caption text-muted">12 μg/m³</p>
        </div>
      </div>
    </fieldset> -->
  </div>
</div>
