<div class="mb-20 mt-20 text-center">
  <button color="primary" mat-button routerLink="/main">
    <mat-icon>dashboard</mat-icon> Retour au tableau de bord
  </button>
</div>

<div class="wheazy__weather">
  <div class="text-center" mat-dialog-title>
    <mat-icon color="accent">info</mat-icon>
    <h3 class="mat-h3">
      <b>À propos</b>
    </h3>
  </div>

  <div>
    <div class="wheazy__about">
        <a
          matRipple
          matTooltip="Visiter le site web"
          href="https://techfever.dev"
          target="_blank"
        >
          <img
            src="/assets/techfever-logo-black.svg"
            alt="Logo Techfever"
            class="logo mat-elevation-z3"
          />
          <h4 class="mat-h4"><b>Techfever</b></h4>
          <p class="mat-caption text-muted">
            Productions digitales indépendentes
          </p>
        </a>
      </div>
  
      <div class="mt-10 text-center">
        <a
          mat-button
          color="accent"
          href="https://techfever.dev/works"
          target="_blank"
        >
          <mat-icon>open_in_new</mat-icon>
          Voir les autres créations
        </a>
        <br />
        <br />
        <a
          mat-raised-button
          color="primary"
          href="https://www.patreon.com/techfever"
          target="_blank"
        >
          <img src="/assets/patreon.svg" alt="Logo Patreon" />
          Donner sur Patreon
        </a>
      </div>
  </div>
</div>
