<mat-expansion-panel
  style="width: fit-content; margin: 0 auto"
  class="mt-20 mb-20"
>
  <mat-expansion-panel-header
    ><mat-icon>bug_report</mat-icon>&nbsp;Changer de temps ou de
    saison</mat-expansion-panel-header
  >

  <fieldset>
    <legend class="text-icon">
      <mat-icon>access_time</mat-icon> Temps actuel (24 heures)
    </legend>

    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Position du soleil</mat-label>
      <input type="text" matInput [value]="currentDayTime | async" disabled />
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Heure définie</mat-label>
      <input
        type="text"
        matInput
        [value]="dayTimeInput"
        disabled
      />
    </mat-form-field>

    <mat-slider
      (valueChange)="timeChanged($event)"
      [value]="dayTimeAsNumber | async"
      tickInterval="1"
      [thumbLabel]="true"
      max="24"
      min="1"
      style="width: 100%"
    ></mat-slider>

    <div class="text-center">
      <button mat-button color="warn" (click)="resetDayTime()">
        <mat-icon>refresh</mat-icon> Rétablir à l'actuel
      </button>
    </div>
  </fieldset>

  <fieldset>
    <legend class="text-icon">
      <mat-icon>calendar_month</mat-icon> Saisons (12 mois)
    </legend>

    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Saison définie</mat-label>
      <input type="text" matInput [value]="currentSeason | async" disabled />
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Mois défini</mat-label>
      <input type="text" matInput [value]="seasonInput" disabled />
    </mat-form-field>

    <mat-slider
      tickInterval="1"
      max="12"
      min="1"
      [thumbLabel]="true"
      style="width: 100%"
      (valueChange)="seasonChanged($event)"
      [value]="seasonAsNumber | async"
    ></mat-slider>

    <div class="text-center">
      <button mat-button color="warn" (click)="resetSeason()">
        <mat-icon>refresh</mat-icon> Rétablir à l'actuel
      </button>
    </div>
  </fieldset>
</mat-expansion-panel>
