@function create-stars($n) {
  $stars: "#{random(2560)}px #{random(2560)}px #FFF";

  @for $i from 2 through $n {
    $stars: "#{$stars} , #{random(2560)}px #{random(2560)}px #FFF";
  }
  @return unquote($stars);
}

@mixin star-template($numStars, $starSize, $opacity) {
  z-index: 10;
  width: $starSize;
  height: $starSize;
  border-radius: 50%;
  background: transparent;
  box-shadow: create-stars($numStars);
  &:after {
    content: " ";
    top: -600px;
    width: $starSize;
    height: $starSize;
    border-radius: 50%;
    position: absolute;
    background: transparent;
    box-shadow: create-stars($numStars);
    opacity: $opacity;
  }
}

#stars-min,
#stars-max,
#stars-medium {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

#stars-min i {
  @include star-template(500, 1px, 0.5);
}

#stars-medium i {
  @include star-template(500, 2px, 0.5);
}

#stars-max i {
  @include star-template(500, 3px, 1);
}

.wheazy__weathered {
  background: rgb(8, 48, 95);
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  .wheazy__weathered-daytime {
    z-index: 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    // NOTE: Seasons

    // &.winter {
    //   background: #fff;
    // }

    // &.spring {
    //   background: green;
    // }

    // &.summer {
    //   background: yellow;
    // }

    &.autumn {
      .leaves-container {
        display: block;
      }
    }

    // NOTE: Day moments

    //   &.sunrise {
    //     // background: radial-gradient(circle at bottom, black, darken(orange, 20%));
    //   @include gradientAnimation(black, darken(orange, 20%), 1s);
    // }

    &.night {
      background: radial-gradient(
        circle at 50% 100%,
        darken(orange, 40%) 10%,
        transparent 60%
      );
    }

    &.nightEnd {
      background: radial-gradient(
        circle at 50% 25%,
        darken(orange, 40%) 10%,
        transparent 60%
      );
    }

    &.nauticalDusk {
      background: radial-gradient(
        circle at 50% 50%,
        darken(orange, 25%) 10%,
        rgba(12, 87, 172, 0.753) 60%
      );
    }

    &.sunsetStart {
      background: radial-gradient(
        circle at 50% 25%,
        darken(orange, 20%) 10%,
        rgb(12, 87, 172) 60%
      );
    }

    &.goldenHour {
      background: radial-gradient(
        circle at 50% 0%,
        darken(orange, 5%) 10%,
        rgb(14, 105, 209) 60%
      );
    }

    &.dusk {
      background: radial-gradient(
        circle at 50% 50%,
        darken(orange, 5%) 10%,
        rgb(14, 105, 209) 60%
      );
    }

    &.nauticalDawn {
      background: radial-gradient(
        circle at 50% 50%,
        darken(orange, 15%) 10%,
        rgba(12, 87, 172, 0.753) 60%
      );
    }

    &.dawn {
      background: radial-gradient(
        circle at 50% 100%,
        darken(orange, 35%) 10%,
        transparent 60%
      );
    }

    &.nadir {
      // background: rgb(19,24,98);
    }

    // NOTE: Weather

    // &.sunny {
    //   background: #ddd;
    // }

    // &.nightly {
    //   background: #131862;
    //   color: #fff;
    // }
  }
}

.wheazy__wrapper {
  display: flex;
  flex-direction: column;
  margin: 2.5em;
  z-index: 1;
  @media screen and (min-width: 768px) {
    margin: 2.5em 5em;
  }
  @media screen and (min-width: 1280px) {
    margin: 2.5em 10em;
  }

  .wheazy__actual-weather {
    .wheazy__actual-weather__wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;

      @media screen and (min-width: 768px) {
        flex-wrap: nowrap;
        justify-content: space-between;
      }

      .wheazy__actual-weather__wrapper--main {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-self: center;
        @media screen and (max-width: 768px) {
          margin-bottom: 25px;
        }
        .wheazy__actual-weather__wrapper--main__quality {
          display: flex;
          flex-direction: column;
          align-items: center;
          .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 5px;
            mat-chip-list {
              margin-top: 10px;
              mat-chip {
                color: #333;
                font-weight: 600;
                &.uv-index {
                  &.low {
                    background: #4caf50;
                  }
                  &.medium {
                    background: #ff9800;
                  }
                  &.high {
                    background: #f44336;
                  }
                }
                &.air-quality {
                  &.excellent {
                    background: #4caf50
                  }
                  &.moderate {
                    background: #ff9800;
                  }
                  &.dangerous {
                    background: #f44336;
                  }
                }
              }
            }
          }
        }
        .wheazy__actual-weather__wrapper--main__state {
          .actual-state-location {
            display: flex;
            flex-direction: row;
            align-items: center;
            mat-icon {
              margin-right: 5px;
            }
          }
          .actual-state-hour {
            display: flex;
            flex-direction: row;
            align-items: center;
            mat-icon {
              font-size: 18px;
              height: 18px;
              width: 18px;
              margin-right: 5px;
            }
          }
          .actual-state {
            display: flex;
            flex-direction: row;
            align-items: center;
            white-space: nowrap;
            margin: 15px 0;
            mat-icon {
              font-size: 75px;
              width: 75px;
              height: 75px;
              margin-right: 15px;
            }
            h1.mat-h1 {
              font-size: 40px;
              font-weight: bold;
              letter-spacing: 3px;
            }
          }
        }
      }

      .wheazy__actual-weather__wrapper--metadatas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 25px;
        @media screen and (max-width: 768px) {
          margin: 0;
        }
        .item {
          @media screen and (min-width: 1024px) {
            margin: 10px 2.5em;
          }
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          margin: 10px 15px;
          max-width: 100px;
          .item-title {
            padding: 5px 0;
          }
          .item-value {
            font-weight: bold;
          }
        }
      }
    }
  }

  app-days-weather,
  app-hours-weather {
    display: flex;
  }
  .wheazy__weather {
    background: rgba(#ddd, 0.35);
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    width: fit-content;
    overflow: hidden;
    margin: 0 auto;
    .wheazy__weather__timeline {
      margin: 15px 0;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      overflow-y: hidden;
      overflow-x: auto;
      .wheazy__weather__timeline--item {
        text-align: center;
        padding: 10px 25px;
        min-width: 150px;
        border-radius: 15px;
        color: #fff;
        text-decoration: none;
        transition: all 0.5s ease-in-out;
        &.hoverable {
          &:hover {
            background: rgba(#fff, 0.05);
          }
        }
        &.active {
          background: rgba(#ffc107, 0.25);
        }
        mat-icon.hour-state-icon {
          font-size: 35px;
          height: 35px;
          width: 35px;
        }
        .hour-metadatas {
          display: flex;
          flex-direction: row;
          margin: 10px 0;
          .metadata {
            margin: 0 10px;
            text-align: center;
          }
        }
      }
    }
  }
}

.wheazy__about {
  text-align: center;
  margin: 10px;
  a {
    color: #fff;
    padding: 15px;
    position: relative;
    overflow: hidden;
    display: block;
    border-radius: 15px;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
    &:hover {
      background: rgba(#ddd, 0.15);
    }
    .logo {
      border: 2px solid #ddd;
      width: 75px;
      height: 75px;
      border-radius: 50%;
      margin-bottom: 10px;
    }
  }
}

.wheazy__air-quality {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .group {
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: fit-content;
    .item {
      margin: 5px 0;
      align-items: center;
      display: flex;
      .item-content {
        .mat-p {
          font-weight: bold;
        }
      }
      .status {
        height: 12px;
        width: 12.5px;
        border-radius: 50%;
        margin-right: 10px;
        &.low {
          background: #4caf50;
        }
        &.medium {
          background: #ffeb3b;
        }
        &.caution {
          background: #ff9800
        }
        &.high {
          background: #f44336;
        }
      }
    }
  }
}

.wheazy__copyright {
  padding: 15px;
  a {
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    &:hover {
      color: #ffc107;
    }
  }
}

.wheazy__location-list {
  background: #424242;
  .wheazy__location-list--item {
    background: #424242;
    &.disabled {
      opacity: 0.5;
    }
    &.selected {
      background: rgba(#ffc107, 0.35);
    }
  }
}

.wheazy__location-list.cdk-drop-list-dragging
  .wheazy__location-list--item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
