.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.text-muted {
  color: #ddd;
}

.wheazy__form-layout {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
