<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>{{ drawer.opened ? "close" : "menu" }}</mat-icon>
  </button>
  <h1 class="mat-h1">Wheazy</h1>
</mat-toolbar>

<mat-drawer-container autosize>
  <mat-drawer mode="side" [opened]="true" #drawer>
    <div class="text-center mt-20 mb-20">
      <h1 class="mat-h1"><b>Wheazy</b></h1>
      <div class="mt-10">
        <p class="mat-p">Météo à la demande</p>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="text-center mt-20 mb-10">
      <mat-icon color="accent">share_location</mat-icon>
      <h4 class="mat-h4">Vos localisations</h4>
    </div>

    <mat-nav-list cdkDropList class="wheazy__location-list">
      <a
        class="wheazy__location-list--item {{
          location.selected ? 'selected' : ''
        }}"
        mat-list-item
        *ngFor="let location of savedLocations | async; let index = index"
        (click)="selectLocation(location); drawer.close()"
        cdkDrag
        (cdkDragDropped)="onLocationDropped($event)"
        [cdkDragDisabled]="(savedLocations | async)?.length === 1"
        cdkDragPreviewClass="wheazy__location-list"
      >
        <button
          mat-icon-button
          cdkDragHandle
          [disabled]="(savedLocations | async)?.length === 1"
        >
          <mat-icon>drag_indicator</mat-icon>
        </button>
        <div class="mat-list-text">
          {{ location?.simplifiedAddress }}
        </div>
        <button
          class="text-end"
          mat-icon-button
          color="warn"
          (click)="
            $event.preventDefault();
            $event.stopPropagation();
            deleteSavedLocation(index)
          "
        >
          <mat-icon>delete</mat-icon>
        </button>
      </a>
    </mat-nav-list>
    <div class="mt-10 mb-20 text-center">
      <button
        mat-fab
        color="primary"
        matTooltip="Ajouter une localisation"
        (click)="openAddSavedLocationDialog()"
      >
        <mat-icon> add_location_alt </mat-icon>
      </button>
    </div>

    <mat-divider></mat-divider>

    <div class="text-center mt-20 mb-10">
      <mat-icon color="accent">info</mat-icon>
      <h4 class="mat-h4">À propos</h4>
    </div>

    <div class="wheazy__about">
      <a
        matRipple
        matTooltip="Visiter le site web"
        href="https://techfever.dev"
        target="_blank"
      >
        <img
          src="/assets/techfever-logo-black.svg"
          alt="Logo Techfever"
          class="logo mat-elevation-z3"
        />
        <h4 class="mat-h4"><b>Techfever</b></h4>
        <p class="mat-caption text-muted">
          Productions digitales indépendentes
        </p>
      </a>
    </div>

    <div class="mt-10 text-center">
      <a
        mat-button
        color="accent"
        href="https://techfever.dev/works"
        target="_blank"
      >
        <mat-icon>open_in_new</mat-icon>
        Voir les autres créations
      </a>
      <br />
      <br />
      <a
        mat-raised-button
        color="primary"
        href="https://www.patreon.com/techfever"
        target="_blank"
      >
        <img src="/assets/patreon.svg" alt="Logo Patreon" />
        Donner sur Patreon
      </a>
    </div>

    <div class="mt-20 mb-10 text-center">
      <p class="mat-caption text-muted">v{{ version }}</p>
    </div>
    <div class="wheazy__copyright text-center">
      <p class="mat-p">
        🚀 Propulsé par
        <a href="https://techfever.dev/" target="_blank"
          ><b>techfever.dev</b></a
        >
      </p>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="wheazy__weathered">
      <app-weather-layout [season]="currentSeason"></app-weather-layout>

      <div
        class="wheazy__weathered-daytime {{ currentSeason | async }} {{
          currentDayTime | async
        }}"
      >
        <div class="wheazy__wrapper">
          <router-outlet></router-outlet>

          <div class="mt-20 mb-10 text-center">
            <p class="mat-caption text-muted">v{{ version }}</p>
          </div>
          <div class="wheazy__copyright mb-20 text-center">
            <p class="mat-p">
              🚀 Propulsé par
              <a href="https://techfever.dev/" target="_blank"
                ><b>techfever.dev</b></a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
