<mat-toolbar color="accent">
  <button mat-icon-button (click)="toggleDrawer()">
    <mat-icon>{{ drawerOpened ? "close" : "menu" }}</mat-icon>
  </button>
  <button
    mat-button
    class="brand-link"
    routerLink="/main"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    (click)="closeDrawer()"
  >
    <h1 class="mat-h1">Wheazy.</h1>
  </button>

  <button
    mat-button
    routerLink="/about"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    (click)="closeDrawer()"
  >
    <mat-icon>info</mat-icon> À propos
  </button>
  <button
    mat-button
    routerLink="/settings"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    (click)="closeDrawer()"
    disabled
  >
    <mat-icon>settings</mat-icon> Paramètres
  </button>
</mat-toolbar>

<mat-drawer-container autosize>
  <mat-drawer mode="side" [opened]="drawerOpened">
    <button
      mat-button
      class="brand-link"
      routerLink="/main"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="closeDrawer()"
    >
      <h1 class="mat-h1">Wheazy.</h1>
    </button>
    <div class="description text-center mt-20 mb-20">
      <p class="mat-p text-muted">
        Votre application météorologique et de qualité de l'air, à la demande
      </p>
    </div>

    <mat-divider></mat-divider>

    <div class="text-center mt-20 mb-10">
      <mat-icon color="primary">share_location</mat-icon>
      <h4 class="mat-h4">Vos localisations enregistrées</h4>
    </div>

    <div class="mt-20 mb-20 text-center">
      <p class="mat-p">
        <b
          >{{ (savedLocations | async)?.length }} /
          {{ maxSavedLocations | async }} max.</b
        >
      </p>
    </div>

    <div class="mt-20 mb-20 text-center">
      <button
        mat-raised-button
        color="accent"
        (click)="openAddSavedLocationDialog()"
        [disabled]="asReachedMaxLocations"
      >
        <mat-icon> add_location_alt </mat-icon> Ajouter une localisation
      </button>
    </div>

    <!-- TODO: for next release -->
    <!-- <div>
      <mat-form-field appearance="outline" style="width: 100%; padding: 0 10px">
        <mat-label> Afficher un nombre limité </mat-label>
        <mat-select value="all" disabled>
          <mat-option value="all"> Tout </mat-option>
          <mat-option> 5 </mat-option>
          <mat-option> 10 </mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->

    <div class="mb-20 text-center" *ngIf="isNotAtWeatherPage">
      <button color="primary" mat-button routerLink="/main">
        <mat-icon>dashboard</mat-icon> Retour au tableau de bord
      </button>
    </div>

    <mat-nav-list cdkDropList class="wheazy__location-list mb-20">
      <a
        class="wheazy__location-list--item {{
          location.selected ? 'selected' : ''
        }} {{ isNotAtWeatherPage ? 'disabled' : '' }}"
        mat-list-item
        *ngFor="let location of savedLocations | async; let index = index"
        (click)="selectLocation(location); closeDrawer()"
        cdkDrag
        (cdkDragDropped)="onLocationDropped($event)"
        [cdkDragDisabled]="(savedLocations | async)?.length === 1"
        cdkDragPreviewClass="wheazy__location-list"
        [disabled]="isNotAtWeatherPage"
      >
        <button
          mat-icon-button
          cdkDragHandle
          [disabled]="(savedLocations | async)?.length === 1"
          matTooltip="Ordonner"
        >
          <mat-icon>drag_indicator</mat-icon>
        </button>
        <div class="mat-list-text">
          {{ location?.simplifiedAddress }}
        </div>
        <button
          class="text-end"
          mat-icon-button
          color="warn"
          matTooltip="Supprimer"
          (click)="
            $event.preventDefault();
            $event.stopPropagation();
            deleteSavedLocation(index)
          "
        >
          <mat-icon>delete</mat-icon>
        </button>
      </a>
    </mat-nav-list>

    <mat-divider></mat-divider>

    <div class="mt-20 mb-10 text-center">
      <p class="mat-p text-muted">v{{ version }}</p>
    </div>
    <div class="wheazy__copyright text-center">
      <p class="mat-p">
        🚀 Propulsé par
        <a href="https://techfever.dev/" target="_blank"
          ><b>techfever.dev</b></a
        >
      </p>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="wheazy__weathered">
      <app-weather-layout [season]="currentSeason"></app-weather-layout>

      <div
        class="wheazy__weathered-daytime {{ currentSeason | async }} {{
          currentDayTime | async
        }}"
      >
        <div class="wheazy__wrapper">
          <router-outlet></router-outlet>

          <div class="mt-20 mb-10 text-center">
            <p class="mat-p text-muted">v{{ version }}</p>
          </div>
          <div class="wheazy__copyright mb-20 text-center">
            <p class="mat-p">
              🚀 Propulsé par
              <a href="https://techfever.dev/" target="_blank"
                ><b>techfever.dev</b></a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
