<div class="wheazy__weather">
  <div mat-dialog-title class="text-center">
    <mat-icon color="primary">date_range</mat-icon>
    <h3 class="mat-h3">Prévisions de la semaine</h3>
  </div>

  <div class="wheazy__weather__timeline">
    <div
      class="wheazy__weather__timeline--item {{ weather.now ? 'active' : '' }}"
      *ngFor="let weather of days"
    >
      <p class="mat-p">{{ weather.day }}</p>
      <p class="mat-caption text-muted">({{ weather.fullDate }})</p>
      <div class="mt-20 mb-20">
        <mat-icon fontSet="material-symbols-sharp" class="hour-state-icon">
          rainy
        </mat-icon>
        <p class="mat-caption">{{ weather.stateDescription }}</p>
      </div>
      <div class="mb-20">
        <p class="mat-p text-muted">25°C - 26.3°C</p>
      </div>
      <div class="hour-metadatas">
        <div class="metadata">
          <mat-icon>air</mat-icon>
          <p class="mat-caption">15 km/h</p>
        </div>
        <div class="metadata">
          <mat-icon>water_drop</mat-icon>
          <p class="mat-caption">17 mm</p>
        </div>
      </div>
    </div>
  </div>
</div>
